.filterBar {
  display: flex;
  background-color: grey;
  padding: 15px;
  justify-content: center;
  gap: 75px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;

}

.filterBar select {
  border: none;
  background-color: grey;
  width: 95px;
  display: flex;
  font-size: 18px;
}

.filterBar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.filterBar a:hover {
  background-color: #e0e0e0;
  color: #000;
}

.filterBar a.active {
  background-color: #4CAF50;
  color: white;
}

